@import "bootstrap/scss/bootstrap";
@import './fonts.scss';

@media (min-width: 1400px) {
    .container{
        max-width: 1267px;
    }
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 400px;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 80px;
  color: #ECE7C8;
  line-height: 93px;
  font-weight: 700px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #B2A300;
  line-height: 26px;
  font-weight: 700px;
}

h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 50px;
  color: #432A1B;
  line-height: 61px;
  font-weight: 400px;
}

//HEADER

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  width: 100%;
  background: transparent linear-gradient(180deg, #2A2403D6 0%, #3A330900 100%) 0% 0% no-repeat padding-box;
  position: fixed;
  z-index: 1;
}

.nav-primary {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  color: #ECE7C8;
}
  a {
    color: #ECE7C8;
    text-decoration: none;
  }

.nav {
  display: flex;
  gap: 40px;
}

.transition{
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #2E2A12;
}

// SECTION BANNER 

.banner {
  width: 100%;
  background-color: #2E2A12;
}

.banner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 533px;
}

.banner-line {
  width: 176px;
  border-bottom: 2px dashed #B2A300;
}

.banner-text {
  font-family: "Roboto";
  font-size: 20px;
  color: #ECE7C8;
  line-height: 26px;
  font-weight: 400px;
}

.banner-btn {
  width: 229px;
  height: 61px;
  font-family: "Roboto Slab", serif;
}

.banner-img {
  background-image: url("../images/podlaga7.jpg");
  background-size: cover;
}

// SECTION ABOUT

.about {
  height: 892px;
}

.about-line {
  width: 112px;
  border-bottom: 2px dashed #B2A300;
}

.about-img {
  width: 625px;
  height: 428px;
  border-radius: 10px;
  background-image: url("../images/podiranje4.jpg");
  background-size: cover;
  background-position: bottom;
}

// SECTION SERVICES

.services {
  height: 2970px;
  background-color: #FBF6DE;
}

.services-title {
  width: 990px;
  text-align: center;
}

.services-line {
  width: 300px;
  border-bottom: 2px dashed #B2A300;
}

.services-card {
  height: 405px;
  background: #FFFDF3 0% 0% no-repeat padding-box;
  border-radius: 10px;
}

.card-wrap {
  padding: 0 10px;
}

//FOOTER

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 122px;
  padding: 123px 0 37px 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
  color: #ECE7C8;
  background-color: #2E2A12;
}

.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-line {
  width: 176px;
  margin: 52px 0 42px 0;
  border-bottom: 2px dashed #B2A300;
}

.footer-title {
  font-weight: bold;
}

.footer-name {
  font-weight: bold;
  color: #B2A300;
}

.footer-col-md{
  display: flex;
  flex-direction: column;
  gap: 27px;
}

#menu-meni-1 {
  display: flex;
  flex-direction: column;
  gap: 1px;
}